In [1]:
import numpy as np

In [3]:
x=np.asarray([232,35,46,24,14,6])

In [4]:
print(x)

[232  35  46  24  14   6]

In [5]:
print(type(x))

<class 'numpy.ndarray'>

In [6]:
l=[5,25,57,24,457,25,325,326,26]
x1=np.asarray(l)
print(x1)

[  5  25  57  24 457  25 325 326  26]

In [8]:
x2=np.asarray([[2,4,6],[5,7,8],[7,9,10],[22,56,78]])

In [9]:
x2

array([[ 2,  4,  6],
       [ 5,  7,  8],
       [ 7,  9, 10],
       [22, 56, 78]])

In [10]:
x2.shape

(4, 3)

In [11]:
x2[0,1]

4

In [12]:
x2[3,2]

78

In [13]:
x2[0,1:3]

array([4, 6])

In [14]:
x2[0,1:]

array([4, 6])

In [15]:
x2[2,1:]

array([ 9, 10])

In [16]:
x2[0,1:]

array([4, 6])

In [21]:
x1 = np.asarray([[2,3,4], [5,6,7], [3,2,1]])

In [22]:
x1

array([[2, 3, 4],
       [5, 6, 7],
       [3, 2, 1]])

In [23]:
x2[1:3,1]

array([7, 9])

In [24]:
print(x2[1:3,1:3])

[[ 7  8]
 [ 9 10]]

In [25]:
x2[2:,:2]

array([[ 7,  9],
       [22, 56]])

In [27]:
x2[2:4,0:2]

array([[ 7,  9],
       [22, 56]])

In [28]:
print(x2[0:2, 1:3])

[[4 6]
 [7 8]]

In [29]:
x3=np.random.random((3,4))

In [30]:
x3

array([[0.71757338, 0.65386683, 0.23225439, 0.51467418],
       [0.91670851, 0.1931698 , 0.98830235, 0.69768719],
       [0.02944636, 0.62308764, 0.59856775, 0.31299428]])

In [31]:
#task: create a random numpy array(3,4) with values between 30 and 50
x4=np.random.randint(30,50,(3,4))

In [32]:
x4

array([[32, 47, 41, 34],
       [49, 39, 31, 45],
       [45, 45, 34, 48]])

In [33]:
sum1=x4.sum()

In [34]:
print(sum1)

490

In [35]:
print(x4.sum(axis=1))

[154 164 172]

In [36]:
print(x4.sum(axis=0))

[126 131 106 127]

In [37]:
x4.max()

49

In [38]:
x4.max(axis=0)

array([49, 47, 41, 48])

In [39]:
x4.max(axis=1)

array([47, 49, 48])

In [44]:
x4 = np.random.randint(30,50,(3,4)) 
print(x4) 
max_val = x4.max() 
print(max_val) 
print(np.argmax(x4))

[[39 31 36 38]
 [47 34 38 49]
 [49 47 32 46]]
49
7

In [48]:
print(x4.max()) 
print(x4.argmax())

49
7

In [49]:
x4.reshape(1,12)

array([[39, 31, 36, 38, 47, 34, 38, 49, 49, 47, 32, 46]])

In [50]:
print(x4.max()) 
print(x4.argmax())

49
7

In [51]:
x4.reshape(1,13)

ValueError: cannot reshape array of size 12 into shape (1,13)

In [53]:
x6 = np.random.randint(1,10,(3,3)) 
print(x6) 
x7=x6.reshape(1,9) 
print(x7)

[[2 2 1]
 [1 9 4]
 [5 6 1]]
[[2 2 1 1 9 4 5 6 1]]

In [54]:
import pandas as pd

In [61]:
df=pd.read_csv(r'D:\Datasets\IPL_Squad_2023_Auction_Dataset.csv')

In [59]:
print(df)

     Unnamed: 0      Player's List Base Price          TYPE  COST IN ₹ (CR.)  \
0             0        Shivam Mavi    4000000        BOWLER              6.0
1             1      Joshua Little    5000000        BOWLER              4.4
2             2    Kane Williamson   20000000       BATSMAN              2.0
3             3        K.S. Bharat    2000000  WICKETKEEPER              1.2
4             4       Mohit Sharma    5000000        BOWLER              0.5
..          ...                ...        ...           ...              ...
563         563        Dhruv Patel    2000000   ALL-ROUNDER              NaN
564         564    Jack Prestwidge    2000000   ALL-ROUNDER              NaN
565         565     Aditya Sarvate    2000000   ALL-ROUNDER              NaN
566         566      Sagar Solanki    2000000   ALL-ROUNDER              NaN
567         567  Prenelan Subrayen    2000000   ALL-ROUNDER              NaN

     Cost IN $ (000) 2022 Squad            Team
0              720.0        KKR  Gujarat Titans
1              528.0        NaN  Gujarat Titans
2              240.0        SRH  Gujarat Titans
3              144.0         DC  Gujarat Titans
4               60.0        NaN  Gujarat Titans
..               ...        ...             ...
563              NaN        NaN          Unsold
564              NaN        NaN          Unsold
565              NaN        NaN          Unsold
566              NaN        NaN          Unsold
567              NaN        NaN          Unsold

[568 rows x 8 columns]

In [60]:
df.head()

,Unnamed: 0,Player's List,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
0,0,Shivam Mavi,4000000,BOWLER,6.0,720.0,KKR,Gujarat Titans
1,1,Joshua Little,5000000,BOWLER,4.4,528.0,NaN,Gujarat Titans
2,2,Kane Williamson,20000000,BATSMAN,2.0,240.0,SRH,Gujarat Titans
3,3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144.0,DC,Gujarat Titans
4,4,Mohit Sharma,5000000,BOWLER,0.5,60.0,NaN,Gujarat Titans

In [62]:
df.shape

(568, 8)

In [68]:
df1=pd.read_csv(r'D:\Datasets\words.csv')

In [69]:
df1.head()

,Language,Approx headwords,Approx definitions,Dictionary,Notes
0,Korean,1149538,NaN,우리말샘 Woori Mal Saem 2017,Online open dictionary including dialects Sou...
1,Tamil,1010008,NaN,Sorkuvai,online open dictionary run the Tamil Nadu go...
2,Portuguese,818000,NaN,Aulete Digital,Online dictionary including expressions
3,Finnish,800000,NaN,RedFox Pro,Online dictionary The free version has over 30...
4,Kurdish,744139,NaN,Authority Kurdish Language Dictionary Kurdish...,"contains 744,139 key words from few Kurdish ..."

In [70]:
df.tail()

,Unnamed: 0,Player's List,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
563,563,Dhruv Patel,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
564,564,Jack Prestwidge,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
565,565,Aditya Sarvate,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
566,566,Sagar Solanki,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
567,567,Prenelan Subrayen,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [71]:
df.rename(columns={'Player\'s List':'Players','COST IN ₹ (CR.)':'Cost'},inplace=True)

In [73]:
df.rename(columns={'Cost IN $ (000)':'cost_in_dollars'},inplace=True)

In [78]:
df1=df[['Players','Base Price','Cost']]

In [81]:
df2=df1[20:100]
print(df2)

                   Players Base Price  Cost
20        Darshan Nalkande   Retained   0.0
21            David Miller   Retained   0.0
22            Matthew Wade   Retained   0.0
23            Jayant Yadav   Retained   0.0
24          Mohammad Shami   Retained   0.0
..                     ...        ...   ...
95  Rahmanullah Gurbaz (T)   Retained   0.0
96             Rinku Singh   Retained   0.0
97              Sam Curran   20000000  18.5
98           Sikandar Raza    5000000   0.5
99         Harpreet Bhatia    2000000   0.4

[80 rows x 3 columns]

In [84]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 20 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Players     80 non-null     object
 1   Base Price  80 non-null     object
 2   Cost        80 non-null     float64
dtypes: float64(1), object(2)
memory usage: 2.0+ KB

In [87]:
df2=df1[df1['Cost']>=5]

In [88]:
df2

              Players Base Price   Cost
0         Shivam Mavi    4000000   6.00
25         Ben Stokes   20000000  16.25
50       Mukesh Kumar    2000000   5.50
97         Sam Curran   20000000  18.50
119   Nicholas Pooran   20000000  16.00
144     Cameron Green   20000000  17.50
193      Jason Holder   20000000   5.75
218       Harry Brook   15000000  13.25
219    Mayank Agarwal   10000000   8.25
220  Heinrich Klaasen   10000000   5.25

In [89]:
df3=df1[df1['Players']=='Mayank Agarwal']

In [90]:
df3

            Players Base Price  Cost
219  Mayank Agarwal   10000000  8.25

In [91]:
average_cost = np.average(df2['Cost'])
print(average_cost)

11.225

In [92]:
average_cost1 = np.average(df['Cost'])
print(average_cost1)

nan

In [98]:
df2.describe()

            Cost
count  10.000000
mean   11.225000
std     5.568326
min     5.250000
25%     5.812500
50%    10.750000
75%    16.187500
max    18.500000

In [97]:
df2['Cost'].describe()

count    10.000000
mean     11.225000
std       5.568326
min       5.250000
25%       5.812500
50%      10.750000
75%      16.187500
max      18.500000
Name: Cost, dtype: float64

In [101]:
average_cost2 = df2['Cost'].mean()

In [102]:
print(average_cost2)

11.225

In [103]:
df5=df.drop_duplicates(subset='Players')

In [104]:
df5

,Unnamed: 0,Players,Base Price,TYPE,Cost,cost_in_dollars,2022 Squad,Team
0,0,Shivam Mavi,4000000,BOWLER,6.0,720.0,KKR,Gujarat Titans
1,1,Joshua Little,5000000,BOWLER,4.4,528.0,NaN,Gujarat Titans
2,2,Kane Williamson,20000000,BATSMAN,2.0,240.0,SRH,Gujarat Titans
3,3,K.S. Bharat,2000000,WICKETKEEPER,1.2,144.0,DC,Gujarat Titans
4,4,Mohit Sharma,5000000,BOWLER,0.5,60.0,NaN,Gujarat Titans
...,...,...,...,...,...,...,...,...
563,563,Dhruv Patel,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
564,564,Jack Prestwidge,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
565,565,Aditya Sarvate,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
566,566,Sagar Solanki,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
567,567,Prenelan Subrayen,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [105]:
df8=df[df['TYPE']=='BOWLER']

In [106]:
df8

,Unnamed: 0,Players,Base Price,TYPE,Cost,cost_in_dollars,2022 Squad,Team
0,0,Shivam Mavi,4000000,BOWLER,6.0,720.0,KKR,Gujarat Titans
1,1,Joshua Little,5000000,BOWLER,4.4,528.0,NaN,Gujarat Titans
4,4,Mohit Sharma,5000000,BOWLER,0.5,60.0,NaN,Gujarat Titans
9,9,Rashid Khan,Retained,BOWLER,0.0,0.0,GT,Gujarat Titans
10,10,R. Sai Kishore,Retained,BOWLER,0.0,0.0,GT,Gujarat Titans
...,...,...,...,...,...,...,...,...
518,518,Trilok Nag,2000000,BOWLER,NaN,NaN,NaN,Unsold
519,519,Atal Bihari Rai,2000000,BOWLER,NaN,NaN,NaN,Unsold
520,520,Ramon Simmonds,2000000,BOWLER,NaN,NaN,NaN,Unsold
521,521,Rajeev Singh,2000000,BOWLER,NaN,NaN,NaN,Unsold
522,522,Mohd. Wasim,2000000,BOWLER,NaN,NaN,NaN,Unsold

In [107]:
df9=df[df['TYPE']=='ALL-ROUNDER']

In [108]:
df9

,Unnamed: 0,Players,Base Price,TYPE,Cost,cost_in_dollars,2022 Squad,Team
5,5,Odean Smith,5000000,ALL-ROUNDER,0.5,60.0,PBKS,Gujarat Titans
7,7,Rahul Tewatia,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
8,8,Pradeep Sangwan,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
14,14,Vijay Shankar,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
16,16,Hardik Pandya,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
...,...,...,...,...,...,...,...,...
563,563,Dhruv Patel,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
564,564,Jack Prestwidge,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
565,565,Aditya Sarvate,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
566,566,Sagar Solanki,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold
567,567,Prenelan Subrayen,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [109]:
df9=df[20:100]

In [110]:
df9

,Unnamed: 0,Players,Base Price,TYPE,Cost,cost_in_dollars,2022 Squad,Team
20,20,Darshan Nalkande,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
21,21,David Miller,Retained,BATSMAN,0.0,0.0,GT,Gujarat Titans
22,22,Matthew Wade,Retained,WICKETKEEPER,0.0,0.0,GT,Gujarat Titans
23,23,Jayant Yadav,Retained,ALL-ROUNDER,0.0,0.0,GT,Gujarat Titans
24,24,Mohammad Shami,Retained,BOWLER,0.0,0.0,GT,Gujarat Titans
...,...,...,...,...,...,...,...,...
95,95,Rahmanullah Gurbaz (T),Retained,WICKETKEEPER,0.0,0.0,KKR,Kolkata Knight Riders
96,96,Rinku Singh,Retained,BATSMAN,0.0,0.0,KKR,Kolkata Knight Riders
97,97,Sam Curran,20000000,ALL-ROUNDER,18.5,2220.0,NaN,Punjab Super Kings
98,98,Sikandar Raza,5000000,ALL-ROUNDER,0.5,60.0,NaN,Punjab Super Kings
99,99,Harpreet Bhatia,2000000,BATSMAN,0.4,48.0,NaN,Punjab Super Kings

In [111]:
df10=df9[df9['TYPE']=='ALL-ROUNDER']

In [112]:
df10

,Unnamed: 0,Players,Base Price,TYPE,Cost,cost_in_dollars,2022 Squad,Team
20,20,Darshan Nalkande,Retained,ALL-ROUNDER,0.00,0.0,GT,Gujarat Titans
23,23,Jayant Yadav,Retained,ALL-ROUNDER,0.00,0.0,GT,Gujarat Titans
25,25,Ben Stokes,20000000,ALL-ROUNDER,16.25,1950.0,NaN,Chennai Super Kings
27,27,Nishant Sindhu,2000000,ALL-ROUNDER,0.60,72.0,NaN,Chennai Super Kings
29,29,Bhagath Varma,2000000,ALL-ROUNDER,0.20,24.0,CSK,Chennai Super Kings
30,30,Ajay Mandal,2000000,ALL-ROUNDER,0.20,24.0,NaN,Chennai Super Kings
32,32,Ravindra Jadeja,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
33,33,Rajvardhan Hangargekar,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
40,40,Shivam Dube,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
45,45,Dwaine Pretorius,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
47,47,Moeen Ali,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
48,48,Mitchell Santner,Retained,ALL-ROUNDER,0.00,0.0,CSK,Chennai Super Kings
55,55,Ripal Patel,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
56,56,Pravin Dubey,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
60,60,Yash Dhull,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
61,61,Vicky Ostwal,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
63,63,Sarfaraz Khan,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
65,65,Lalit Yadav,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
66,66,Axar Patel,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
68,68,Aman Khan (T),Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
73,73,Kamlesh Nagarkoti,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
74,74,Mitchell Marsh,Retained,ALL-ROUNDER,0.00,0.0,DC,Delhi Capitals
75,75,Shakib Al Hasan,1500000,ALL-ROUNDER,1.50,180.0,NaN,Kolkata Knight Riders
76,76,David Wiese,10000000,ALL-ROUNDER,1.00,120.0,NaN,Kolkata Knight Riders
89,89,Venkatesh Iyer,Retained,ALL-ROUNDER,0.00,0.0,KKR,Kolkata Knight Riders
91,91,Anukul Roy,Retained,ALL-ROUNDER,0.00,0.0,KKR,Kolkata Knight Riders
92,92,Andre Russell,Retained,ALL-ROUNDER,0.00,0.0,KKR,Kolkata Knight Riders
94,94,Nitish Rana,Retained,ALL-ROUNDER,0.00,0.0,KKR,Kolkata Knight Riders
97,97,Sam Curran,20000000,ALL-ROUNDER,18.50,2220.0,NaN,Punjab Super Kings
98,98,Sikandar Raza,5000000,ALL-ROUNDER,0.50,60.0,NaN,Punjab Super Kings

In [115]:
grouped_df = df9.groupby('Team')['Cost'].sum()

In [116]:
grouped_df

Team
Chennai Super Kings      18.95
Delhi Capitals           15.00
Gujarat Titans            0.00
Kolkata Knight Riders     5.40
Punjab Super Kings       19.40
Name: Cost, dtype: float64

In [122]:
grouped_df = df9.groupby('TYPE')['Cost'].sum()

In [123]:
grouped_df

TYPE
ALL-ROUNDER     38.75
BATSMAN          8.60
BOWLER           8.00
WICKETKEEPER     3.40
Name: Cost, dtype: float64

In [124]:
dff=pd.read_csv('D:\Datasets\IIITDM.csv')

In [125]:
dff.head()

,Timestamp,Email Address,Name,Branch,Organization,Highest Qualification,Contact number,Feedback,Remarks
0,5-20-2023 15:56:41,drrashmiagrawal78@gmail.com,Rashmi Agrawal,CSE,Manav Rachna international institute of resear...,PhD,9810123398,Good,NaN
1,5-20-2023 15:57:06,amitphys17@gmail.com,Amit Kumar Vishwakarma,Physics,"ARSD College, Univ of Delhi",PhD,9990092899,Excellent,NaN
2,5-20-2023 15:57:14,narayanan.booshanan@gmail.com,Narayanan B,Dept of CSE,Sri Venkateswara college of Engineering and Te...,M.Tech,8056781129,Good,NaN
3,5-20-2023 15:57:21,NAHID.EEE@AUST.EDU,NAHID-UR-RAHMAN CHOWDHURY,EEE,AHSANULLAH UNIVERSITY OF SCIENCE AND TECHNOLOGY,MSc,+8801706636110,Excellent,NaN
4,5-20-2023 15:57:32,drruchij@lnct.ac.in,Dr. Ruchi Jain,CSE - AIML,Lnct,Doctorate,8989537446,Excellent,NaN

In [126]:
dff1=dff[dff['Highest Qualification']=='PhD']

In [127]:
dff1

,Timestamp,Email Address,Name,Branch,Organization,Highest Qualification,Contact number,Feedback,Remarks
0,5-20-2023 15:56:41,drrashmiagrawal78@gmail.com,Rashmi Agrawal,CSE,Manav Rachna international institute of resear...,PhD,9810123398,Good,NaN
1,5-20-2023 15:57:06,amitphys17@gmail.com,Amit Kumar Vishwakarma,Physics,"ARSD College, Univ of Delhi",PhD,9990092899,Excellent,NaN
6,5-20-2023 15:57:41,satyaprakash.maurya@jaipur.manipal.edu,Satya Prakash Maurya,Computer Science & Engineering,Manipal University Jaipur,PhD,7905625288,Excellent,NaN
11,5-20-2023 15:57:54,mkp.nit@gmail.com,Dr. Manoj Kumar Pathak,Mechanical,G. B. Pant Institute of Engineering and Techno...,PhD,9758020072,Excellent,NaN
14,5-20-2023 15:58:02,adstechlearning@gmail.com,Dr S Alex David,CSE,Vel Tech,PhD,7904241134,Excellent,NaN
15,5-20-2023 15:58:10,maivizhi16@gmail.com,Dr Radhakrishnan Maivizhi,CSE,SRM Institute of Science and Technology,PhD,9655554718,Excellent,Nil
35,5-20-2023 15:59:58,prasad_ajk@rediffmail.com,Dr AJK PRASAD,Mechanical engineering,Sir M.VIT Bangalore,PhD,+919448508506,Excellent,"Sorry madam, I do not want to rank a teacher, ..."
37,5-20-2023 16:00:24,rkiitr@gmail.com,Dr Rakesh Kumar,Computer Science and Engg,Madan Mohan Malaviya University of Technology ...,PhD,9235500529,Good,NaN
39,5-20-2023 16:00:53,pinki.nayak@adgitmdelhi.ac.in,Pinki Nayak,IT,ADGITM DELHI,PhD,9990017908,Excellent,NaN
48,5-20-2023 16:08:55,kumudamanju@gmail.com,Kumudavalli M V,Computer science,Dayananda sagar college of Arts science and co...,PhD,9980135525,Excellent,NaN
51,5-20-2023 16:15:40,madhavidevi.b@iare.ac.in,Dr. B.Madhavidevi,ComputerScience and Engineering,Institute of Aeronautical Engineering College,PhD,09618870900,Excellent,good
54,5-20-2023 16:20:53,monalikhachane@gmail.com,Monali Yashwant Khachane,Computer Science,Dr. Annasaheb G. D. Bendale Mahila Mahavidyala...,PhD,9860730738,Good,informative session.
58,5-20-2023 16:21:15,rkiitr@gmail.com,Dr Rakesh Kumar,CSE,Madan Mohan Malaviya University of Technology ...,PhD,9235500529,Excellent,NaN
77,5-20-2023 16:24:28,brahamdeo.gupta@gmail.com,Dr. Braham Deo Gupta,CS,Govt College Banmor Morena,PhD,7898338999,Good,NaN
86,5-20-2023 17:48:41,shishir.chauhan@jaipur.manipal.edu,Shishir Singh Chauhan,CSE,Manipal University Jaipur,PhD,7905307175,Excellent,NaN
87,5-20-2023 17:48:51,juhisingh17@gmail.com,Dr. Juhi Singh,CSE,Manipal university jaipur,PhD,9717105742,Excellent,.

In [128]:
dff1.shape

(16, 9)