# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

In [1]:
10 == 10

True

In [2]:
a = 5

### Equal to

a == 5

In [3]:
a == 5

True

### Not equal to

In [4]:
10 != 5

True

### Greater than

In [7]:
10 > 5

True

### Less than

In [5]:
10 > 5

True

### Greater than equal to

In [ ]:
### Greater than

10 > 5

In [8]:
10 >= 5

True

#### Less than equal to

In [ ]:
10 <= 5

### Decision making
Now lets get back to  writing a condidtional statements with the 'if' condition
To do that we would write it 'if' followed by an expression.

In [11]:
#Write a program to check value in variable x is less than 99
x=input()
if x > 99:
    print("True")
else:
    print("False")

0654

TypeError: '>' not supported between instances of 'str' and 'int'

##### !pip install openai

In [14]:
x = 45
if x<99:
    print("small")
else:
    print("big")

small

In [15]:
x = 450
if x<99:
    print("small")
else:
    print("big")

big

In [ ]:
#Logical operators We use logical operators in situations where we have multiple conditions

### AND
### OR
### NOR
#### XOR

#Are some of the common and most widely used logical operations You can learn more about them from this link: pylessons.net

In [1]:
"""#Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama 
only if he or she is above 60 years or below 18 years of age."""

"#Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama \nonly if he or she is above 60 years or below 18 years of age."

In [12]:
age = int(input("Enter your age:"))
if age<=18 or age>=60:
    print("You are allowed")
else:
    print("Not allowed")

Enter your age:35
Not allowed

In [16]:
shopping_total = int(input())

if shopping_total >=500:
    print("You won a 1000 discount on your next purchase")
elif shopping_total >=250:
    print("You won a 500 discount on your next purchase")
else:
    print("You won 50 discount on your next purchase")

300
You won a 500 discount on your next purchase

In [57]:
x = 5000
if (x>1000 and x<1050):
    print("You won")
else:
    print("No discount")

No discount

In [53]:
X = 1005
if (X >= 1000 and X <=1100):
    print('Yes')
else:
    print('No')

Yes

In [42]:
for i in range(1000,1101):
    print("Yes")
    return i

SyntaxError: 'return' outside function (550258095.py, line 3)

In [66]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [75]:
world_cups

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [76]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [77]:
world_cups[2003]

['Australia', 'India']

In [96]:
year = int(input("Enter the year to check New zealand made it to finals in 20th centure: "))

Enter the year to check New zealand made it to finals in 20th centure: 2025

In [97]:
year

2025

In [101]:
if year in world_cups:
    #do some stuff
    if "New Zealand" in world_cups[year]:
        print("Yes New zealand made it")
    else:
        print("New zealand didnt make it")
elif year>2023:
    print("you entered future date")
else:
    print("world cup was not played in", year)

you entered future date

In [107]:
X = 12

if (X > 10 & X < 15):
print('YES')
else:
print('No')

IndentationError: expected an indented block after 'if' statement on line 3 (1825208694.py, line 4)

In [119]:
a=10
b=16
c=20

if( a>b and a>c ):
    print("a")
elif( b>c and b>a):
    print("b")
else:
     print("c")

c

In [126]:
#Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.

score = 88

if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

B

In [127]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [128]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [134]:
input_str = 'alpha'
first_char=input_str[0]
vowels = ['A','E','I','O','U','a','e','i','o','u']
if first_char in vowels:
    print('YES')
else:
    print('NO')

YES

In [ ]:
#A while loop begins with a keyword 'While' followed by an expression

#So While this condition is satisfied keep running the loop

In [1]:
#Let's create a pin checker which we generally have in our phones and ATMs

pin = input("Enter your four digit pin: ")

while pin != '1234':
    pin = input('Invalid Input, please try again: ')
print('Pin validation successful.')

Enter your four digit pin: 6545
Invalid Input, please try again: 1324
Invalid Input, please try again: 1234
Pin validation successful.

In [4]:
#Now if we want to add a maximum number of tries allowed condition we'll use the 'if' loop
import sys #required for exiting the code and displaying an error
pin = input("Enter your four digit pin:")

attempt_count = 1

while pin != '1234':
    if attempt_count >=3:
        sys.exit("Too many invalid attempts") #error code
    pin = input('Invalid input, please try again:')
    attempt_count += 1
print('Print validation successful')

Enter your four digit pin:4654
Invalid input, please try again:65456
Invalid input, please try again:6546

SystemExit: Too many invalid attempts

C:\Users\Jayam Arun\AppData\Local\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3468: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [5]:
#iterate over list of integers

l = [1,2,3,4,5,]
for var in l:
    print(var)

1
2
3
4
5

In [7]:
#iterate over a string

string = "New York"
for char in string:
    print(char)

N
e
w

Y
o
r
k

In [8]:
#iterate over a string - modify print using end
string = "New York"
for char in string:
    print(char, end = ":") #default value of end = "\n"

N:e:w: :Y:o:r:k:

In [9]:
#iterating over a dictionary

students_data = {1:['Sam', 24], 2:['Rob',24], 3:['Jack', 26], 4:['Conor', 24], 5:['Trump', 27]}
students_data

{1: ['Sam', 24],
 2: ['Rob', 24],
 3: ['Jack', 26],
 4: ['Conor', 24],
 5: ['Trump', 27]}

In [25]:
students_data[2][1]

24

In [26]:
students_data.keys()

dict_keys([1, 2, 3, 4, 5])

In [27]:
students_data.values()

dict_values([['Sam', 24], ['Rob', 24], ['Jack', 26], ['Conor', 24], ['Trump', 27]])

In [28]:
for key, val in students_data.items():
    print(key,val)

1 ['Sam', 24]
2 ['Rob', 24]
3 ['Jack', 26]
4 ['Conor', 24]
5 ['Trump', 27]

In [29]:
#iterate over keys of a dictionary

for key in students_data.keys():
    print(key)

1
2
3
4
5

In [30]:
for values in students_data.values():
    print(values)

['Sam', 24]
['Rob', 24]
['Jack', 26]
['Conor', 24]
['Trump', 27]

In [31]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3 = [0,1,2,3,4]

for i in L3:
    L3[i] = L1[i] - L2[i]

In [32]:
#generate range of values.
range(1,5)

range(1, 5)

In [35]:
l = list(range(1,5))
l

[1, 2, 3, 4]

In [36]:
for i in l:
    print(i)

1
2
3
4

In [38]:
for i in range(1,5):
    print(i, end=",")

1,2,3,4,

In [39]:
#different variations in range

print(list(range(1, 100, 2))) #gives numbers from 1 to 100 with a step count of 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [91]:
print(list(range(0, -101, 2)))

[]

In [83]:
print(list(range(-100,-1,2)))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [85]:
print(sorted(set(range(-2,-101,-2))))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [97]:
l = []
for i in range(-100, 0):
    if(i%2 == 0):
        l.append(i)
print(l)

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [51]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]

for i in range(len(L2)):
    L3.append(L1[i]-L2[i])
L3

[2, 6, 15, 4, 8]

In [80]:
#Ex print prime numbers between 1 to 20

for n in range(2,20): # n =7
    flag = True
    for i in range(2,n): #i = 2,3,4,5,6
        if n%i == 0:
            #n is not a prime number, it is better to exit the inner forloop
            print(n, "is not prime", i)
            flag = False
            break
    #whether to print(i) or not
    if flag == True: #n is prime
        print(n, "is prime")

1 is prime
2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

In [82]:
for n in range(2,20):
    flag=True
    for i in range(2,n):
        if n%i == 0:
            print(n, "is not prime",i)
            flag = False
            break
    if flag == True:
        print(n, "is prime")

2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

In [52]:
input_str = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

input_list = [s.title() for s in input_str]

print (input_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [56]:
for i in input_str:
    i=i.title()
    input_list = i
i

'Sandeep'

In [71]:
input_str = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

import ast, sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

update_list=[]

for i in input_list:
    update_list.append(i.capitalize())

print(update_list)

SyntaxError: invalid syntax (<unknown>, line 0)

In [98]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2