In [ ]:
for i in range(1,5):
    print(i)

In [2]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [5]:
#Looping on string
my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [7]:
#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

SyntaxError: invalid syntax (1207617405.py, line 3)

str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

In [39]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

my_string = "Mary had a little lamb"

for n, alphabet in enumerate(my_string):
    print(alphabet,n)

vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

In [48]:
vowels = ''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [51]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

All Evens are : 8884828028822 & All odds are : 33793731

In [53]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [55]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [56]:
sentence = "Is Python simpler than R ?"
for word in sentence.split(): #split method to split sentence with spaces inbetween
    print(word)

Is
Python
simpler
than
R
?

In [62]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [63]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [67]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [65]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [68]:
for val in students_data.values():
    print(val)

['Shivam Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Calcuttawala', 27]

In [69]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [ ]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)

In [78]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status
print(active_users)

{'Hans': 'active', '景太郎': 'active'}