#### Example 1: Print numbers from 1 to 5

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

#### Example 2: Calculate the sum of all elements in a list

In [2]:
numbers = [1,2,3,4,5]
sum = 0
for num in numbers:
    sum += num
print("The total sum is", sum)

The total sum is 15

#### Example 3: Print each character in a string

In [3]:
message = "Hello World"
for char in message:
    print(char)

H
e
l
l
o

W
o
r
l
d

#### Example 4: Find the factorial of a number

In [5]:
num = int(input("Enter the number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("The factorial is: ", factorial)

Enter the number: 5
The factorial is:  120

#### Example 5: Print a triangle pattern

In [7]:
rows = 5
for i in range(1, rows + 1):
    print("*"*i)

*
**
***
****
*****