In [1]:
#we would ask the user for his name and mobile number
name = input("what's your name ")
number = input("What's your number ")

what's your name A
What's your number 98

In [80]:
print(name, number)

A 98

In [81]:
from random import seed
from random import randint
value = randint(100,999)
value

166

In [82]:
print(name, number, value)

A 98 166

In [83]:
list1 = [name, number, value]
list1

['A', '98', 166]

# List
* Lists are an ordered sequence of mixed data types.
* Lists are written as comma-separated elements within squared brackets

In [84]:
#Introduction
L= ["India", 23, 6, "Mumbai"]
L

['India', 23, 6, 'Mumbai']

In [85]:
#Nested list
L = ['Chemistry', 'Biology', [1994, 2004], 4]
L

['Chemistry', 'Biology', [1994, 2004], 4]

In [86]:
#indexing
L[2]

[1994, 2004]

In [87]:
L[1]

'Biology'

In [88]:
L[-1]

4

In [89]:
L[-2]

[1994, 2004]

In [90]:
L[-2][0]

1994

In [91]:
#slicing
L[0:3]

['Chemistry', 'Biology', [1994, 2004]]

In [92]:
#Membership in lists
L1 = [1,2,3,4]
print(1 in L1)
print(20 in L1)

True
False

In [93]:
#List concatenation
L

['Chemistry', 'Biology', [1994, 2004], 4]

In [94]:
new_L = L + [5,8]
new_L

['Chemistry', 'Biology', [1994, 2004], 4, 5, 8]

In [95]:
#Replace "Biology" with "Physics"
L[1] = "Physics"
L

['Chemistry', 'Physics', [1994, 2004], 4]

In [96]:
# extend()
L

['Chemistry', 'Physics', [1994, 2004], 4]

In [97]:
L.extend([5,8])
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8]

In [99]:
#append()
L.append([5,8])
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8, [5, 8], [5, 8]]

In [100]:
L.append(123)
L

['Chemistry', 'Physics', [1994, 2004], 4, 5, 8, [5, 8], [5, 8], 123]

In [101]:
#del command
del L[0]
L

['Physics', [1994, 2004], 4, 5, 8, [5, 8], [5, 8], 123]

In [102]:
del L[0:2]
L

[4, 5, 8, [5, 8], [5, 8], 123]

In [104]:
#pop()
L = ['Chemistry', 'Physics', [1994, 2004], 4, 5, 8]
L.pop()

8

In [105]:
L

['Chemistry', 'Physics', [1994, 2004], 4, 5]

In [106]:
#remove()
L.remove('Physics')
L

['Chemistry', [1994, 2004], 4, 5]

In [108]:
#sorting Lists
L = [32, 24, 1, 3, 8]
L.sort()
L

[1, 3, 8, 24, 32]

In [111]:
L.sort(reverse=True)
L

[32, 24, 8, 3, 1]

## Difference between sort and sorted

In [112]:
A = ["Orange", "Strawberry", "Mango"]
A

['Orange', 'Strawberry', 'Mango']

In [113]:
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [114]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)
print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [122]:
list_1 = [2, 33, 222, 14, 25]
list_1[-5]

2

In [123]:
word = ['1','2','3','4']
word[ : ] = [ ]
print(word)

[]

In [124]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

## Shadow Copying

In [125]:
A = ["Orange", "Strawberry", "Mango"]

In [126]:
B = A

In [127]:
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [129]:
A[0] = "Apple"
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [130]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]
print(A,B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [131]:
A[0] = "Apple"
print(A,B)

['Apple', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

### Tuples
* Tuples are an ordered sequence of mixed data types.
* Tuples are written as comma-separated elements within paranthesis

In [132]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [133]:
type(t)

tuple

### Tuples can be defined in various ways

#### A tuple can be defined without using paranthesis

In [134]:
sample_tuple = 1,2,3,4
print(sample_tuple)

(1, 2, 3, 4)

In [135]:
type(sample_tuple)

tuple

#### Single value tuple

In [136]:
sample_tuple = 1,
print(sample_tuple)

(1,)

In [137]:
sample_tuple = 1 #this is not a tuple
type(sample_tuple)

int

In [138]:
sample_tuple = (1) #this is not a tuple
type(sample_tuple)

int

#### Indexing in tuples

In [140]:
t = ("Behzad", 84, "Python")
t

('Behzad', 84, 'Python')

In [141]:
t[-1]

'Python'

In [142]:
t[-2]

84

#### Slicing

In [144]:
t = ("Mumbai", 84, "Python", 5, 2, 1)
t

('Mumbai', 84, 'Python', 5, 2, 1)

In [145]:
t[0:3]

('Mumbai', 84, 'Python')

In [146]:
t[-2:]

(2, 1)

In [147]:
len(t)

6

#### Concatenating tuples

In [149]:
tup1 = ["This", "is", "Session", 2]
tup2 = ["On", "Tuples"]
tup3 = tup1 + tup2
tup3

['This', 'is', 'Session', 2, 'On', 'Tuples']

#### Sum() - min() - max()

In [150]:
t = (2, 4, 10, 4, -1)

In [151]:
min(t)

-1

In [152]:
max(t)

10

In [154]:
tuple = (2,3.2,4,5)
sum(tuple)

14.2

In [155]:
min(tuple)

2

In [156]:
max(tuple)

5

In [157]:
t = (2, "Python", 10, 4, -1)
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [158]:
t = ("disco", 12, 4.5)
t[0][2]

's'

### Immutability of tuples

In [159]:
t = ("USA", 4, 3, "Disco", 7.5)
t

('USA', 4, 3, 'Disco', 7.5)

In [161]:
t[3] = "Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [179]:
new_t = t[0:3] +("Hard rock",) + t[4:]
new_t

(2, 3, 5, 'Hard rock', -1)

### Sorting a tuple

In [187]:
t = (2, 3, 5, 10, -1)
t

(2, 3, 5, 10, -1)

In [184]:
type(t)

tuple

In [195]:
x = sorted(t)
y = tuple(x)
y

TypeError: 'tuple' object is not callable

### Nested tuples

In [196]:
t = (1, 5, "Disco", ("Python","Java"))
t

(1, 5, 'Disco', ('Python', 'Java'))

In [197]:
t[3][1]

'Java'

### Packing and Unpacking in tuples

In [198]:
t = (1,2,3,4) #packing
t

(1, 2, 3, 4)

In [200]:
(a,b,c,d) = t #unpacking
c

3

In [201]:
(a,b,c) = t

ValueError: too many values to unpack (expected 3)

#### dir() - to view the attributes or methods of an object

In [202]:
t = () #empty tuple

In [203]:
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [205]:
t = (1, 2, 4, 3)
print(len(t))

4

In [212]:
x = (Hello,'2','3')

NameError: name 'Hello' is not defined

In [213]:
type(x)

tuple

In [218]:
input_str = ('Monty Python', 'British', 1969)
x = list(input_str)
x.extend(['Python'])
tuple_2 = tuple(x)
tuple_2

TypeError: 'tuple' object is not callable

In [ ]:
l1 = [1,6,3,8,4,'sum',4.6]
l2 = [1,6,3,8,4,'sum']
l3 = []
for i in range(len(l1)):
    for j in range(len(l2)):
        if l1[i]==l2[j]:
            l3.append[l1[i]]
if l1==l3:
    print('Equal')
else:
    print('Not Equal')

#### Sets

* Sets are a type of collection like lists and tuples, storing mixed data.
* Sets are enclosed within curly brackets and elements are written as comma, seperated.
* Sets are unordered
* Sets does not allow duplicates

In [221]:
l = [1,3,2,4,5,5]
type(l)

list

In [222]:
set_l = set(l)
set_l

{1, 2, 3, 4, 5}

In [223]:
type(set_l)

set

In [224]:
len(set_l)

5

In [225]:
set_l[1]

TypeError: 'set' object is not subscriptable

In [226]:
a = {1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [227]:
a.add('Australia') #mutable
a

{1, 2, 3, 4, 5, 'Australia'}

In [228]:
a.remove('Australia')
a

{1, 2, 3, 4, 5}

In [229]:
#set operations

A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [230]:
print(A, B)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [232]:
print(A | B) #union
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [235]:
print(A & B) #intersection
print(A.intersection(B))

{2, 4}
{2, 4}

In [239]:
print(A-B) #Difference shows left out values that doesnt match with B.
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [240]:
print(A ^ B) #symmetric difference shows left out values in both A & B excludes matched values / intersection.

{0, 1, 3, 5, 6, 8}

In [250]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
list_1 = set(A)
list_2 = set(B)
list_3 = (list_2.union(list_2)).difference(list_1.intersection(list_2))
print(list_3)

{2}

In [245]:
print(list_1 & list_2)

{1, 3, 5, 7}

In [249]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

#### Dictionaries
* A dictionary stores elements as keys and values pairs.
* The key is like an index, it is always unique and immutable
* The values are the objects that contain information.
* Values are accessed using their keys.
* Each key is followed by a value separated by a colon.
* The values can be immutable, mutable, and duplicates.
* Each key and value pair is separated by a comma enclosed inside curly brackets.

In [252]:
d = {"India":"INR", "USA": "USD", "French": "EURO"}
d

{'India': 'INR', 'USA': 'USD', 'French': 'EURO'}

In [253]:
type(d)

dict

In [256]:
d["USA"]

'USD'

In [257]:
print(d["USA"], d["India"])

USD INR

In [259]:
#Replace the value for a key in a dictionary
d["USA"] = "$"
d

{'India': 'INR', 'USA': '$', 'French': 'EURO'}

In [263]:
d["India"] = "Rupee"
d

{'India': 'Rupee', 'USA': '$', 'French': 'EURO', 'INR': 'Rupee'}

In [264]:
#Insert a new key value pair
d["Japan"] = "Yen"
d

{'India': 'Rupee',
 'USA': '$',
 'French': 'EURO',
 'INR': 'Rupee',
 'Japan': 'Yen'}

In [266]:
#delete a new key-value pair

del d["French"]
d

KeyError: 'French'

In [267]:
d

{'India': 'Rupee', 'USA': '$', 'INR': 'Rupee', 'Japan': 'Yen'}

In [268]:
d["French"]

KeyError: 'French'

In [269]:
#sorting a dictionary

sorted(d)

['INR', 'India', 'Japan', 'USA']

In [270]:
d = {"India":"INR", "USA": "USD", "French": "EURO"}
d

{'India': 'INR', 'USA': 'USD', 'French': 'EURO'}

In [271]:
#extract all the values 
d.values()

dict_values(['INR', 'USD', 'EURO'])

In [272]:
d.update({'USA':'USD'})
d

{'India': 'INR', 'USA': 'USD', 'French': 'EURO'}

In [275]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Employee_data[104][2]

'Product Lead'

In [276]:
d = dict(a=1, b=2)
d

{'a': 1, 'b': 2}

In [277]:
d = {}
d

{}

In [ ]:
dict_1 = {"Python'':40, "R'':45}
del dict_1[]

In [278]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [280]:
#Dictionary 
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

try:
    value = input_dict['Label']
except KeyError:
    value = "NA"

print(value)

NA

In [282]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

only_values = list(input_dict.values())
only_values.sort()
print(only_values)

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [286]:
sorted(input_dict)
input_dict.values()

dict_values(['Twitter', 'Apple', 'Amazon', 'RJIO'])

In [288]:
answer = list(input_dict.values())
answer.sort()
answer

['Amazon', 'Apple', 'RJIO', 'Twitter']