In [2]:
heights = [74, 75, 72, 72, 71]

In [3]:
heights

[74, 75, 72, 72, 71]

In [4]:
heights * 2.54

TypeError: can't multiply sequence by non-int of type 'float'

In [5]:
import numpy as np

In [6]:
np_heights = np.array([74, 75, 72, 72, 71])

In [8]:
np_heights

array([74, 75, 72, 72, 71])

In [9]:
type(np_heights)

numpy.ndarray

In [10]:
np_heights * 2.54

array([187.96, 190.5 , 182.88, 182.88, 180.34])

In [15]:
array_1 = [1,2,3,5,4,6,7,8,5,3,2]
print(array_1[::-2])

[2, 5, 7, 4, 3, 1]

In [16]:
def SwapTwoNumbers(a,b):
    print("Before Swap: ",a,b)
    a = a+b
    b = a-b
    a = a-b
    return a,b
    
a,b = SwapTwoNumbers(17,24)
print("After Swap: ",a,b)

Before Swap:  17 24
After Swap:  24 17