# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

In [1]:
10 == 10

True

In [2]:
a = 5

### Equal to

a == 5

In [3]:
a == 5

True

### Not equal to

In [4]:
10 != 5

True

### Greater than

In [7]:
10 > 5

True

### Less than

In [5]:
10 > 5

True

### Greater than equal to

In [ ]:
### Greater than

10 > 5

In [8]:
10 >= 5

True

#### Less than equal to

In [ ]:
10 <= 5

### Decision making
Now lets get back to  writing a condidtional statements with the 'if' condition
To do that we would write it 'if' followed by an expression.

In [11]:
#Write a program to check value in variable x is less than 99
x=input()
if x > 99:
    print("True")
else:
    print("False")

0654

TypeError: '>' not supported between instances of 'str' and 'int'

##### !pip install openai

In [14]:
x = 45
if x<99:
    print("small")
else:
    print("big")

small

In [15]:
x = 450
if x<99:
    print("small")
else:
    print("big")

big

In [ ]:
#Logical operators We use logical operators in situations where we have multiple conditions

### AND
### OR
### NOR
#### XOR

#Are some of the common and most widely used logical operations You can learn more about them from this link: pylessons.net

In [1]:
"""#Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama 
only if he or she is above 60 years or below 18 years of age."""

"#Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama \nonly if he or she is above 60 years or below 18 years of age."

In [12]:
age = int(input("Enter your age:"))
if age<=18 or age>=60:
    print("You are allowed")
else:
    print("Not allowed")

Enter your age:35
Not allowed

In [16]:
shopping_total = int(input())

if shopping_total >=500:
    print("You won a 1000 discount on your next purchase")
elif shopping_total >=250:
    print("You won a 500 discount on your next purchase")
else:
    print("You won 50 discount on your next purchase")

300
You won a 500 discount on your next purchase

In [57]:
x = 5000
if (x>1000 and x<1050):
    print("You won")
else:
    print("No discount")

No discount

In [53]:
X = 1005
if (X >= 1000 and X <=1100):
    print('Yes')
else:
    print('No')

Yes

In [42]:
for i in range(1000,1101):
    print("Yes")
    return i

SyntaxError: 'return' outside function (550258095.py, line 3)

In [66]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [75]:
world_cups

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [76]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [77]:
world_cups[2003]

['Australia', 'India']

In [96]:
year = int(input("Enter the year to check New zealand made it to finals in 20th centure: "))

Enter the year to check New zealand made it to finals in 20th centure: 2025

In [97]:
year

2025

In [101]:
if year in world_cups:
    #do some stuff
    if "New Zealand" in world_cups[year]:
        print("Yes New zealand made it")
    else:
        print("New zealand didnt make it")
elif year>2023:
    print("you entered future date")
else:
    print("world cup was not played in", year)

you entered future date

In [107]:
X = 12

if (X > 10 & X < 15):
print('YES')
else:
print('No')

IndentationError: expected an indented block after 'if' statement on line 3 (1825208694.py, line 4)

In [119]:
a=10
b=16
c=20

if( a>b and a>c ):
    print("a")
elif( b>c and b>a):
    print("b")
else:
     print("c")

c

In [126]:
#Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.

score = 88

if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

B

In [127]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [128]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [134]:
input_str = 'alpha'
first_char=input_str[0]
vowels = ['A','E','I','O','U','a','e','i','o','u']
if first_char in vowels:
    print('YES')
else:
    print('NO')

YES

In [ ]:
#A while loop begins with a keyword 'While' followed by an expression

#So While this condition is satisfied keep running the loop

In [1]:
#Let's create a pin checker which we generally have in our phones and ATMs

pin = input("Enter your four digit pin: ")

while pin != '1234':
    pin = input('Invalid Input, please try again: ')
print('Pin validation successful.')

Enter your four digit pin: 6545
Invalid Input, please try again: 1324
Invalid Input, please try again: 1234
Pin validation successful.

In [4]:
#Now if we want to add a maximum number of tries allowed condition we'll use the 'if' loop
import sys #required for exiting the code and displaying an error
pin = input("Enter your four digit pin:")

attempt_count = 1

while pin != '1234':
    if attempt_count >=3:
        sys.exit("Too many invalid attempts") #error code
    pin = input('Invalid input, please try again:')
    attempt_count += 1
print('Print validation successful')

Enter your four digit pin:4654
Invalid input, please try again:65456
Invalid input, please try again:6546

SystemExit: Too many invalid attempts

C:\Users\Jayam Arun\AppData\Local\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3468: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [5]:
#iterate over list of integers

l = [1,2,3,4,5,]
for var in l:
    print(var)

1
2
3
4
5

In [7]:
#iterate over a string

string = "New York"
for char in string:
    print(char)

N
e
w

Y
o
r
k

In [8]:
#iterate over a string - modify print using end
string = "New York"
for char in string:
    print(char, end = ":") #default value of end = "\n"

N:e:w: :Y:o:r:k:

In [9]:
#iterating over a dictionary

students_data = {1:['Sam', 24], 2:['Rob',24], 3:['Jack', 26], 4:['Conor', 24], 5:['Trump', 27]}
students_data

{1: ['Sam', 24],
 2: ['Rob', 24],
 3: ['Jack', 26],
 4: ['Conor', 24],
 5: ['Trump', 27]}

In [25]:
students_data[2][1]

24

In [26]:
students_data.keys()

dict_keys([1, 2, 3, 4, 5])

In [27]:
students_data.values()

dict_values([['Sam', 24], ['Rob', 24], ['Jack', 26], ['Conor', 24], ['Trump', 27]])

In [28]:
for key, val in students_data.items():
    print(key,val)

1 ['Sam', 24]
2 ['Rob', 24]
3 ['Jack', 26]
4 ['Conor', 24]
5 ['Trump', 27]

In [29]:
#iterate over keys of a dictionary

for key in students_data.keys():
    print(key)

1
2
3
4
5

In [30]:
for values in students_data.values():
    print(values)

['Sam', 24]
['Rob', 24]
['Jack', 26]
['Conor', 24]
['Trump', 27]

In [31]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3 = [0,1,2,3,4]

for i in L3:
    L3[i] = L1[i] - L2[i]

In [32]:
#generate range of values.
range(1,5)

range(1, 5)

In [35]:
l = list(range(1,5))
l

[1, 2, 3, 4]

In [36]:
for i in l:
    print(i)

1
2
3
4

In [38]:
for i in range(1,5):
    print(i, end=",")

1,2,3,4,

In [39]:
#different variations in range

print(list(range(1, 100, 2))) #gives numbers from 1 to 100 with a step count of 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [91]:
print(list(range(0, -101, 2)))

[]

In [83]:
print(list(range(-100,-1,2)))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [85]:
print(sorted(set(range(-2,-101,-2))))

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [97]:
l = []
for i in range(-100, 0):
    if(i%2 == 0):
        l.append(i)
print(l)

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [51]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]

for i in range(len(L2)):
    L3.append(L1[i]-L2[i])
L3

[2, 6, 15, 4, 8]

In [80]:
#Ex print prime numbers between 1 to 20

for n in range(2,20): # n =7
    flag = True
    for i in range(2,n): #i = 2,3,4,5,6
        if n%i == 0:
            #n is not a prime number, it is better to exit the inner forloop
            print(n, "is not prime", i)
            flag = False
            break
    #whether to print(i) or not
    if flag == True: #n is prime
        print(n, "is prime")

1 is prime
2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

In [82]:
for n in range(2,20):
    flag=True
    for i in range(2,n):
        if n%i == 0:
            print(n, "is not prime",i)
            flag = False
            break
    if flag == True:
        print(n, "is prime")

2 is prime
3 is prime
4 is not prime 2
5 is prime
6 is not prime 2
7 is prime
8 is not prime 2
9 is not prime 3
10 is not prime 2
11 is prime
12 is not prime 2
13 is prime
14 is not prime 2
15 is not prime 3
16 is not prime 2
17 is prime
18 is not prime 2
19 is prime

In [52]:
input_str = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

input_list = [s.title() for s in input_str]

print (input_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [56]:
for i in input_str:
    i=i.title()
    input_list = i
i

'Sandeep'

In [71]:
input_str = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

import ast, sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

update_list=[]

for i in input_list:
    update_list.append(i.capitalize())

print(update_list)

SyntaxError: invalid syntax (<unknown>, line 0)

In [98]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

### List Comprehensions

In [99]:
l1 = ["Automobiles", "Honda", "Benz", "Suzuki", "Morris Garages"]
l1

['Automobiles', 'Honda', 'Benz', 'Suzuki', 'Morris Garages']

In [100]:
l2=[]
for word in l1:
    l2.append(len(word))
l2

[11, 5, 4, 6, 14]

In [101]:
l2=[]

for word in l1:
    l2.append(len(word))
l2

[11, 5, 4, 6, 14]

### The functional approach

In [102]:
l2 = [len(word) for word in l1]
l2

[11, 5, 4, 6, 14]

In [109]:
#iterating over L1 and L2 simultaneously
for i,j in zip(l1,l2):
    print(i, "-", j)

Automobiles - 11
Honda - 5
Benz - 4
Suzuki - 6
Morris Garages - 14

In [105]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3 = []

for i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [108]:
L3 = [L1[i] - L2[i] for i in range(0, len(L1))]
L3

[2, 6, 15, 4, 8]

### Dictionary comprehension

In [111]:
#example on dictionary comprehension
l1 = ["Automobiles", "Honda", "Benz", "Suzuki", "Morris Garages"]

#create a dictionary consisting of element and length of each element from the above list

d = {word:len(word) for word in l1}
d

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

In [113]:
d.values()

dict_values([11, 5, 4, 6, 14])

In [114]:
ordinary_dict = {}
for i in range(2, 21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2
print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [117]:
updated_dict = {i: i**2 for i in range(2, 21) if i % 2 ==0}
updated_dict

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [119]:
updated_odd = {i:i**2 for i in range(2,21) if i%2!=0}
updated_odd

{3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

In [115]:
odd_dict = {}
for i in range (1,21):
    if i%2 != 0:
        odd_dict[i] = i**2
print(odd_dict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

### Set Comprehension

Ex. Write  a program which takes a word as input from user and returns vowels from the word

In [120]:
word = input("Enter a word: ")

Enter a word: Word

In [121]:
updated_word= []

for i in word:
    if i.lower() in 'aeiou':
        updated_word.append(i)
updated_word

['o']

In [124]:
vowels = {i for i in word if i in 'aeiou'}
vowels

{'o'}

In [125]:
vowels_set = set()
for i in word:
    if i.lower() in 'aeiou':
        vowels_set.add(i)
vowels_set

{'o'}

In [126]:
list1 = []
for i in range(1,11):
    list1.append(i*6)
list1

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [128]:
list1 = [i*6 for i in range(1,11)]
list1

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [130]:
list1 = []
for i in range(1,11):
    if i%2 == 0:
        list1.append(i*6)
list1

[12, 24, 36, 48, 60]

In [132]:
list1 = [i*6 for i in range(1,11) if i%2 == 0]
list1

[12, 24, 36, 48, 60]

In [133]:
list1=[]
for i in range(1,11):
    if i%2 == 0:
        list1.append(i*6)
    else:
        list1.append(i*5)
list1

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [134]:
list1=[i*6 if i%2==0 else i*5 for i in range(1,11)]
list1

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [137]:
list1=[]
for i in range(1,4):
    for j in range(1,11):
        list1.append(i*j)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [140]:
list1=[i*j for i in range(1,4) for j in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [145]:
input_list=['wood', 'old', 'apple', 'big', 'item', 'euphoria']
extract_word = [word for word in input_list if word[0].lower() in 'aeiou']
extract_word

['old', 'apple', 'item', 'euphoria']

In [146]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [147]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [149]:
#You are given an integer 'n' as the input. Create a list comprehension containing the
#squares of the integers from 1 till n^2 (including 1 and n), and print the list.

n = int(input())
l1=[i**2 for i in range(1, n+1)]
l1

5

[1, 4, 9, 16, 25]

### Functions

In [152]:
# Ex. Write a function which takes  a value as a parameter and returns its factorial

#5! = 5*4*3*2*1
#n! = n*(n-1)*(n-2)*...*3*2*1
#5! = 120

def name_of_the_function(n):
    #write the code
    return 4

In [153]:
name_of_the_function(10)

4

In [154]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact *i 
    
    return fact
factorial(5)

120

### Function Arguments

In [155]:
def squared(x,y):
    i = x**y
    return i

squared(2,5)

10

In [158]:
def func(name, age = 35): #default parameter
    print("name: ", name)
    print("age", age)

In [160]:
func("jayam", 25)

name:  jayam
age 25

In [161]:
func("jane")

name:  jane
age 35

In [164]:
def func(name, age= 35, city = "New York"):
    print("name:", name)
    print("age", age)
    print("city", city)
func("joy",city= "seattle")

name: joy
age 35
city seattle

In [167]:
func("joy",city="seattle")

name: joy
age 35
city seattle

In [168]:
func("joy",65,"seattle")

name: joy
age 65
city seattle

In [173]:
def var_func(*args):
    print(args)

In [176]:
var_func(100,"asdf","asdf",234)

(100, 'asdf', 'asdf', 234)

In [181]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
def fun(L1, L2):
    list3=[]
    for i in range(0,len(L1)):
        list3.append(L1[i]-L2[i])
    return list3

In [182]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]

print(fun(L1,L2))

[2, 6, 15, 4, 8]

In [183]:
len(L1)

5

In [187]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [192]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return y**2- 2 * y - 2

func(2)

#ans_list

-2

In [202]:
ans_list = [func(x) for y**2, x in L1]
ans_list

SyntaxError: cannot assign to expression (34152886.py, line 1)

In [207]:
#Lambda Function

#write a lambda function to check a number is even or odd

f = lambda x: "even" if x%2==0 else "odd"

f(10)

'even'

In [215]:
#Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

#If x = 2 and y= 3, then the output should be 3.

f = lambda x,y: x if x > y else y

print(f(14,18))

18

In [216]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

#### Map - Filter - reduce

In [222]:
countries = ["India", "Japan", "Italy", "France"]
f=lambda x: x.upper()
f("India")

'INDIA'

In [223]:
capital_countries = []
for country in countries:
    capital_countries.append(f(country))
capital_countries

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [224]:
capital_countries=[]
for country in countries:
    capital_countries.append(f(country))
capital_countries

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [228]:
#map(function, collection_or_list)
list(map(lambda x: x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [229]:
list(map(f, countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

### some more examples on map - filter - reduce

In [233]:
L1 = [2,4,5]

f_square = lambda x: x**2
list(map(f_square, L1))

[4, 16, 25]

### Defining a function and using it in map

In [234]:
L1 = [2, 4, 5]

In [235]:
def squareit(n):
    return n**2

list(map(squareit, L1))

[4, 16, 25]

### Filter function to return the multiples of 3

In [237]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x: x%3 == 0

In [239]:
divby3(6)

True

In [242]:
div = filter(divby3, my_list)
list(div)

[3, 6, 9]

In [244]:
#Ex. Write a python program to count the students above age 18

students_data = {1: ['sam', 15], 2: ['Rob',18], 3:['Kyle', 16], 4:['Conor', 19], 5:['Trump', 20]}
students_data

{1: ['sam', 15],
 2: ['Rob', 18],
 3: ['Kyle', 16],
 4: ['Conor', 19],
 5: ['Trump', 20]}

In [248]:
above_age = lambda x: x[1] > 18 

above_age(['kyle',24])

True

In [258]:
above = filter(above_age, students_data.values())

In [259]:
list(above)

[['Conor', 19], ['Trump', 20]]

In [260]:
f = lambda x: x[1]>18
f(['kyle', 24])

True

In [261]:
list_of_older_18 = list(filter(lambda x: x[1]>18, students_data.values()))

In [262]:
list_of_older_18

[['Conor', 19], ['Trump', 20]]

In [263]:
len(list_of_older_18)

2

In [264]:
len(list(filter(lambda x: x[1]>18, students_data.values())))

2

In [265]:
#Reduce to return product of elements

from functools import reduce

l = range(1,7)
list(l)

[1, 2, 3, 4, 5, 6]

In [266]:
f = lambda x,y: x*y
f(2,3)

6

In [270]:
q = reduce(f, l)
q

720

In [271]:
reduce(lambda x,y: x*y, l)

list_1=['Paul', 'Teddy']

reduce(lambda x,y: x+y, list_1)

'PaulTeddy'

In [272]:
reduce(lambda x,y: x + y,list_1)

'PaulTeddy'

In [273]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [274]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [275]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [276]:
def function(n):
  n=n+1
 
n=2
print(function(2))

None

In [277]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [278]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [279]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [280]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [281]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [282]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x000002C4F139B010>

In [283]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [287]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

1

In [289]:
lis=[1, 2, 3, 4, 5]
c=lis[3]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]
print(c)

1

In [290]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [294]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))
len(list(m))

[12, 20, 28]

0

In [296]:
#Write a program that takes a list of tuples, where each tuple contains two integers, as input and returns a new list with the sum of each tuple using a lambda function.

l5=[(35,24), (353,326), (412,47), (236, 5485), (13,13)]
l6 = list(map(lambda x: x[0]+x[1],l5))
l6

[59, 679, 459, 5721, 26]

In [316]:
num_1 = int(input("enter the 1st num: "))
num_2 = int(input("enter the 2nd num: "))

more = input("Enter Y to continue or N to cancel")

list = []

answer = "y"

while (answer == "y"):
    num_1 = int(input("enter the 1st num: "))
    num_2 = int(input("enter the 2nd num: "))
    list.append(num_1,num_2) 
    answer = input("Enter Y to continue or N to cancel")

list_12 = list(map(lambda x:x[0]+[1], list))
list_12

enter the 1st num: 32
enter the 2nd num: 32
Enter Y to continue or N to canceln

KeyboardInterrupt: Interrupted by user

In [ ]:
#Write a program that takes a list of dictionaries, 
#where each dictionary contains a 'name' key and an 'age' key, as input and returns a new list with only the dictionaries
#where the age is greater than or equal to 18 using a lambda function with the filter() function.

In [311]:
l = [{'Name':'Rahul','Age':34},{'Name':'Rohan','Age':3},{'Name':'ganesh','Age':15},{'Name':'shawn','Age':19}]

l2 = lambda x:

{'Name': 'Age'}

dict_values(['Age'])

In [328]:
#Write a program that takes a list of strings as input and returns a new list with only the strings 
#that are palindromes using a lambda function with the filter() function.

l1 = ["civic", "Madam","apple"]

l2 = list(filter(lambda x : x[0] in 'aeiouAEIOU', l1))

print(l2)

TypeError: 'list' object is not callable

In [ ]:
#Write a program that takes a list of strings as input and returns a new list with only the strings 
#that start with a vowel using a lambda function with the filter() function.

In [338]:
#Write a program that takes a list of tuples, 
#where each tuple contains a string and an integer, as input and returns a new list 
#with the string repeated by the integer using the map() function.

l= [('poojaa',2),('tarini',3),('ankita',3)]

l2 = list(map(lambda x: x[0]*int(x[1]), l))
l2

TypeError: 'list' object is not callable